.DS_Store
.code-workspace

.vscode/.ropeproject/config.py

/Users/kurohat/Github/2DV513/LAB3/src/__pycache__/view.cpython-37.pyc

LAB3/src/__pycache__/view.cpython-37.pyc

.vscode/.ropeproject/objectdb
